# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.SE320.iml
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Ata\Desktop\SE320\.idea\.idea.SE320\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
